<html>
<head>
<title></title>
</head>
<body>
<div>
Dear ${COORDINATOR_NAME},
<br/>
<div style="padding-left: 10px;">
<p>Please note that the welcome mails sent to the registered participants for the event - ${EVENT_NAME} conducted at ${EVENT_PLACE}, ${EVENT_CITY} on ${PROGRAM_CREATE_DATE}. </p>
<p>
<table border="1" style="width: 100%;">
<tr>
<td style=" width: 80%;" ><b>Total count of participants</b></td>
<td style=" width: 20%;" align=middle ><b>${TOTAL_PARTICIPANT_COUNT}</b></td>
</tr>
<tr>
<td style=" width: 80%;" >No. of participants to whom welcome mail already sent </td>
<td style=" width: 20%;" align=middle >${WLCM_MAIL_ALRDY_RCVD_PARTICIPANT_COUNT}</td>
</tr>
<tr>
<td style=" width: 80%;" >No. of participants to whom welcome email sent on ${WELCOME_MAIL_SENT_DATE}</td>
<td style=" width: 20%;" align=middle >${WLCM_MAIL_RCVD_YSTRDY_PARTICIPANT_COUNT}</td>
</tr>
</table>
</p>
<br/>
</div>
<div style="font-style: italic; font-weight: bold;">
With Regards,
<br/>
Heartfulness Team
</div>
</body>
</html>