<html>
<head>
<title></title>
</head>
<body>
<div>
Dear ${COORDINATOR_NAME},
<br/>
<div style="padding-left: 10px;">
<p>Please note that the following e-welcome ID’s have been generated for the below given participants of the event - ${EVENT_NAME},</p>
<table border="1" style="width: 60%;border-collapse: collapse;">
<tr>
<td style=" width: 2%;" align=middle><b>S.No</b></td>
<td style=" width: 15%;" align=middle><b>Participant Name</b></td>
<td style=" width: 25%;" align=middle><b>Participant mail ID</b></td>
<td style=" width: 15%;" align=middle><b>Mobile</b>
</td>
<td style=" width: 15%;" align=middle><b>e-welcome ID</b></td>
<td style=" width: 25%;" align=middle><b>Introduced Date</b></td>
</tr>
${PARTICIPANTS_DETAILS}
</table>
</p>
<br/>
</div>
<div style="font-style: italic; font-weight: bold;">
With Regards,
<br/>
Heartfulness Team
</div>
</body>
</html>