<html>
<head>
<title></title>
</head>
<body>
<div>
<table>
<tr>
<td>Welcome ${NAME} ,</td>
</tr>
<tr>
<td>
</br>
<p>Thank you for attending one of our Heartfulness program.</p>
<p>We hope you enjoyed the experience of relaxation and meditation with yogic transmission.</p>
<p>We have received your details, we would like to stay in touch with you and respond to your interest in meditation.</p>
</td>
</tr>
</table>
<br/>
<br/>
<div style="font-style: italic; font-weight: bold;">
With regards,
<br/>
Heartfulness Webmaster
</div>
<br/>
<br/>
<p> If you don't want to receive this mailer, <a href="${LINK}" >unsubscribe</a> </p>
</div>
</body>
</html>