<html>
<head>
<title></title>
</head>
<body>
<div>
<table>
<tr>
<td>Welcome ${NAME} ,</td>
</tr>
<tr>
<td>
</br>
<p>Thank you for attending one of our Heartfulness program.</p>
<p>We hope you enjoyed the experience of relaxation and meditation with yogic transmission.</p>
<p>We have Recieved your details and, we would like to stay in touch with you and respond to your interest in meditation.</p>
</td>
</tr>
<tr>
<td>
<br/>
<p> If dont want to recieve this mailer, <a href="${LINK}" >unsuscribe</a> </p>
</td>
</tr>
</table>
<br/>
<br/>
<div style="font-style: italic; font-weight: bold;">
With regards
<br/>
Heartfulness Webmaster
</div>
</div>
</body>
</html>