<html>
<head>
<title></title>
</head>
<body>
<div>
Dear ${NAME},
<br/>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thank you for attending one of our Heartfulness program, we hope you enjoyed the experience of relaxation and meditation. This mail is to confirm that we have received your details and we would like to stay in touch with you and respond to your interest in meditation.</p>
<br/>
<div style="font-style: italic; font-weight: bold;">
With regards,
<br/>
Heartfulness Webmaster
</div>
<br/>
<div>
<p>If you don't want to receive this mailer, <a href="${LINK}" >unsubscribe</a> </p>
</div>
</body>
</html>