<html>
<head>
	<title></title>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; color: rgb(49, 58, 66); font-size: 14px; background-color: rgb(255, 255, 255);" summary="" width="640">
	<tbody>
		<tr>
			<td style="font-family: arial, sans-serif; margin: 0px; color: rgb(242, 108, 79); border-collapse: collapse; font-size: 18px; line-height: 1.2; text-align: right; padding: 20px 10px 5px 0px;"><span style="font-family: Arial, Helvetica, sans-serif; color: rgb(77, 162, 174); font-weight: 600; line-height: 12px;"><img alt="Heartfulness Institute" class="CToWUd" height="25" src="https://ci6.googleusercontent.com/proxy/Ljb8PkYFB9lH2zEAzPVnBrsGNzp6RYBeKrIXOH_EJ-I1eAB_seXwlLlgvPT9kpHOvim-U3IWMJBIqijTTBtDYHL7_RQULMlzTJqL1YdIbsry66OMyjzP_tY2eAXu7KeOhburvnUA7jTokCE=s0-d-e1-ft#http://cdn-prod.heartfulness.org/HFN_welcome_letter/images/Heartfulness_Institute.png" width="182" /></span></td>
		</tr>
		<tr>
			<td style="font-family: arial, sans-serif; margin: 0px; border-collapse: collapse; text-align: right; padding: 0px 10px 20px 0px;">[Date,fallback=]</td>
		</tr>
		<tr>
			<td style="font-family: arial, sans-serif; margin: 0px; border-collapse: collapse; line-height: 20px; padding: 0px 20px 20px;">
			<p style="margin: 0px 0px 1.6em;"><strong>Dear Sir/Madam,</strong></p>

			<p style="margin: 0px 0px 1.6em;">Greetings and Good Wishes from Heartfulness Institute.</p>

			<p style="margin: 0px 0px 1.6em;">We earnestly hope that you are able to find few minutes in a day and continuing with your practice of Heartfulness Relaxation and Meditation. </p>

			<p style="margin: 0px 0px 1.6em;">We are pleased and happy to invite you with family on the Founder’s Day, a Heartfulness gathering.</p>

			<p style="margin: 0px 0px 1.6em;">
			<b>Date – Saturday, 30th April 2016.</b>
			<br><b>First Group Meditation is at 7:15AM.</b>
			</p>

			<p style="margin: 0px 0px 1.6em;">We are expecting more than 2000 participants and practitioners from Chennai City to be part of this gathering.</p>

			<p style="margin: 0px 0px 1.6em;">We have many interesting activities to deepen your Heartfulness meditation experience. We are also putting a children corner to take care of your kids, so you can focus on the key activities.</p>

			<p style="margin: 0px 0px 1.6em;">The agenda and other details are attached for your reference and records. Please feel free to attend all the meditation sessions.</p>

			<p style="margin: 0px 0px 1.6em;">Looking forward to meet you on 30th April. We will be grateful if you could confirm your participation, so we can serve you well.</p>

			<p style="margin: 0px 0px 1.6em;">Thanks & Regards</p>
			
			
			<p style="margin: 0px 0px 1.6em;">Sincerely,
			<br>Team Heartfulness Chennai
			<br>rsvphfn@gmail.com
			<br>Toll Free No : 1800 103 7726</p>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>
