<table style="border:none;"><tbody>
		<tr>
		<td style="border:none;text-align: center; width: 600px; margin: 0 auto;">
		<div style="border-top: 5px solid #59a276; text-align: center; width: 600px; margin: 0 auto;"><br>
		<img src="cid:logo" alt="Experience Heartfulness" height="40" width="155"><br><br>
		<img src="cid:banner" alt="banner" height="300" width="600"></div><br>
		<table style="width:100%;border:none;"><tbody><tr>
		<td style="font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #666666;  line-height: 30px; text-align: left;border:none;">Dear friend,</td>
		</tr></tbody></table>
		<div style="font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #666666; text-align: left; line-height: 30px;">
		<p>We warmly welcome you to discover what Heartfulness meditation is all about.  As the saying goes, "a picture is worth a thousand words" and we would like to believe that real experience is worth an infinite number of pictures and words!  </p>
		<p>So we will be brief and allow you to directly experience Heartfulness meditation with the assistance of yogic transmission.  Your contact details have been sent to a Heartfulness trainer who will email you shortly to setup a mutually convenient time to meditate together.  Questions for the trainer may be asked using email or over a Skype or Google hangout conversation.  </p>
		<p>Until then, please do try the Heartfulness meditation on your own and note down your observations if you feel inclined to do so. </p>
		<p>Please note there are no fees charged for this meditation and teaching.  We only request that your respect the time of the Heartfulness trainers, who have volunteered their time for this activity, and please keep the appointments once scheduled. <br></p><p>Please click <a href="http://en.staging.heartfulness.org/confirmation.php?name={$single_line_text_90022416417_54_12}&amp;email={$email_89682165819_39_21}">here</a> to confirm the registration</p>
		<p>Heartfelt best wishes for your journey onward!</p>
		<p>Respectfully,</p>
		<p>Heartfulness.org</p>
		
		</div>
		<div style="width: 100%; border-top: 1px solid #ccc; float: left; padding: 10px 0;">
		<table style="border:none;"><tbody><tr style="border:none;"><td style="border:none;text-align: center;">
		<div style="float: left; "><a href="http://heartfulness.org/about-heartfulness/"><img class="alignnone wp-image-684 size-full" src="cid:icon4" alt="" height="50" width="50">
		</a><div style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #666666; text-align: center; line-height: 24px;margin:10px 0;">About Heartfulness</div>
		<div style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #889098; text-align: center; line-height: 24px;margin:10px 0;">Discover the essence of the <br>heart manifested in daily life</div>
		<div style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #0a8cd8; text-align: center; line-height: 20px;">
		<a style="text-decoration: none; color: #0a8cd8;" title="About Heartfulness" href="http://heartfulness.org/about-heartfulness/">Read More</a></div></div>
		</td>
		<td style="text-align: center; border :none; width : 40%;"><div><a href="http://heartfulness.org/experience-heartfulness/#">
		<img class="alignnone wp-image-686 size-full" src="cid:icon1" alt="" height="50" width="50"></a>
		<div style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #666666; text-align: center; line-height: 24px; margin:10px 0;">Experience</div>
		<div style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color:   #889098; text-align: center; line-height: 24px; margin:10px 0;">Meditate and discover the<br> heart in daily life</div>
		<div style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #0a8cd8; text-align: center; line-height: 20px;">
		<a style="text-decoration: none; color: #0a8cd8;" title="Experience Heartfulness" href="http://heartfulness.org/experience-heartfulness/#">Read More</a></div></div>
		</td>
		
		<td style="border:none;text-align: center;"><div style="float: left; "><a href="http://heartfulness.org/blog/">
		<img class="alignnone wp-image-685 size-full" src="cid:icon2" alt="" height="50" width="50"></a>
		<div style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #666666; text-align: center; line-height: 24px;margin:10px 0;">Articles</div>
		<div style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #889098; text-align:center;line-height:24px;margin:10px 0;">Read about the experience <br>of Heartfulness from others</div>
		<div style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #0a8cd8; text-align: center; line-height: 20px;">
		<a style="text-decoration: none; color: #0a8cd8;" title="Articles" href="http://heartfulness.org/blog/">Read More</a></div></div>
		</td>
		</tr></tbody></table></div>
		<div><table style="width: 100%; margin: 5px 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; float: left; padding: 5px 0;border-right:none;border-left:none;"><tbody>
		<tr><td style="font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #999999;text-align:left;border:none;"><div>Copyright 2015, Heartfulness.org <br> All rights reserved.</div></td>
		<td style="text-align: right;border:none;"><div>
		<a style="display: inline;" href="https://www.facebook.com/pages/Practice-heartfulness/1069649746394309?ref=hl">
		<img src="cid:facebook" alt="" height="24" width="24"></a>
		<a href="https://twitter.com/heartful_ness">
		<img src="cid:twitter" alt="twitter" height="24" width="24"></a>
		<a href="https://www.linkedin.com/groups/Practise-heartfulness-8274156?home=&amp;gid=8274156&amp;trk=my_groups-tile-grp">
		<img src="cid:linkedin" alt="linkedin" height="24" width="24"></a>
		<a href="http://heartfulness.org/feed/">
		<img src="cid:rss" alt="rss" height="24" width="24"></a>
		<a href="https://www.youtube.com/channel/UCoG2o8WtvYh8sCS40pUFtCg">
		<img src="cid:youtube" alt="youtube" height="24" width="24"></a>
		<a href="https://instagram.com/practiceheartfulness">
		<img src="cid:instagram" alt="instagram" height="24" width="24"></a></div>
		</td></tr></tbody><tbody></tbody></table>
		</div>
		<div style="width: 100%; font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #666666; float: left;" align="center">Click here to <a style="text-decoration: none; color: #0a8cce;" href="http://en.staging.heartfulness.org/newsletter-unsubscribe/">Unsubscribe</a></div>
		</td></tr></tbody></table>
